<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkgeniux.sportsmatch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MyChanel"></activity>
        <activity android:name=".Activities.Inbox" />
        <activity android:name=".Activities.Libarary" />
        <activity android:name=".Activities.Videoplayer" />
        <activity android:name=".Activities.MainListVideos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.All_Videos" />
        <activity android:name=".Activities.Profile" />
        <activity android:name=".Activities.SettingActivity"></activity>
        <activity android:name=".Activities.Time_Watched"></activity>
        <activity android:name=".Activities.AutoPlay"></activity>
        <activity android:name=".Activities.Paid_Membership"></activity>
        <activity android:name=".Activities.Downloads"></activity>
        <activity android:name=".Activities.Gernal_Activity"></activity>
        <activity android:name=".Activities.Watch_on_TV"></activity>
    </application>

</manifest>